<% layout('boilerplate') -%>
<body>
    <%if(msg && msg.length){%>
        <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
            <%=msg%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    <%}%>
    <%if(msge && msge.length){%>
        
        <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
            <%=msge%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    <%}%>
    <%if(del && del.length){%>
        <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
            <%console.log("Hi");%>
            <%=del%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    <%}%>
    <%if(err && err.length){%>
        <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
            <%=err[0]%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    <%}%>
    <div class="filters">
        <div class="filter">
            <div class="icon"><a href="/listing/show/Trending"><i class="fa-solid fa-fire"></i></a></div>
            <p class="icon-text">Trending</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Rooms"><i class="fa-solid fa-bed"></i></a></div>
            <p class="icon-text">Rooms</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Iconic Cities"><i class="fa-solid fa-mountain-city"></i></a></div>
            <p class="icon-text">Iconic Cities</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Mountains"><i class="fa-solid fa-mountain"></i></a></div>
            <p class="icon-text">Mountains</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Castles"><i class="fa-brands fa-fort-awesome"></i></a></div>
            <p class="icon-text">Castles</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Beaches"><i class="fa-solid fa-person-swimming"></i></a></div>
            <p class="icon-text">Beaches</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Camping"><i class="fa-solid fa-campground"></i></a></div>
            <p class="icon-text">Camping</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Farms"><i class="fa-solid fa-tractor"></i></a></div>
            <p class="icon-text">Farms</p>
        </div>
        <div class="filter">
            <div class="icon"><a href="/listing/show/Arctic"><i class="fa-regular fa-snowflake"></i></a></div>
            <p class="icon-text">Arctic</p>
        </div>
        <div class="filter tax-box ms-auto" style="margin-right: 2rem; display: flex;align-items: center;">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display price after taxes</label>
            </div>
        </div>
    </div>
    <div class="cards">
        <% for (let x of listdata){%>
            <a href="moreabout/<%=x.id%>" class="cardLink">
                <div class="card" style="width: 18rem; border: none;">
                    <img src="<%=x.image.url%>" class="card-img-top" alt="listing_img" style="height: 14rem;">
                    <div class="card-body">
                        <p class="card-text">
                            <%=x.title%> <br>
                            &#8377; <%=x.price.toLocaleString("en-IN")%>/night
                            <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
        <%}%> 
    </div>
    <br>
    <!-- Handling Toggling Event -->
    <script>
        let toggler = document.getElementById("flexSwitchCheckDefault");
        toggler.addEventListener("click", () => {
            let ele = document.getElementsByClassName("tax-info");
            for (let x of ele) {
                if (x.style.display === "none" || x.style.display === "") {
                    x.style.display = "inline";
                } else {
                    x.style.display = "none";
                }
            }
        });
    </script>
    
</body>
