<% layout('boilerplate') -%>
<body>
    <h3 class="text-center">Edit your Listing</h3>
    <div class="forms ">
        <form class="row g-3 col-6 needs-validation" novalidate method="post" action="/editDetail/<%=d.id%>?_method=PATCH" enctype="multipart/form-data">
            <div class="col-md-12">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%=d.title%>" >
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-12">
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" id="desc"  name="description" value="<%=d.description%>" >
                <div class="invalid-feedback">Fill in the description</div>
            </div>
            <div class="col-12">
                <label class="form-label">Original Image</label> <br>
                <img style="width: 225px; height: 150px;" src = '<%= d.image.url%>'> 
            </div>
            <div class="col-12">
                <label for="url" class="form-label">Upload Image</label>
                <input type="file" class="form-control" id="url" name="url">
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-6">
                <label for="price" class="form-label">Price (in rupees)</label>
                <input type="text" class="form-control" id="price"  name="price" value="<%=d.price%>" >
                <div class="invalid-feedback">Enter the valid price</div>
            </div>
            <div class="col-md-6">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country" value="<%=d.country%>" >
                <div class="invalid-feedback">Enter the valid country name</div>
            </div>
            <div class="col-md-12">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location"  value="<%=d.location%>" >
                <div class="valid-feedback">Enter the valid location</div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" style="background-color: brown; color: aliceblue; border: none;">Click to Update</button>
            </div>
        </form>
    </div>
    <br>
</body>